---
import { Markdown } from "astro/components";
import DefaultLayout from "../../layouts/default.astro";
import Keywords from "../../components/ui/keywords.astro";
import { Clock2, X } from "tabler-icons-react";
import getBlogPages from "../../utils/get-blog-pages";
import getPostMetadata from "../../utils/get-post-metadata";
import { join } from "path";

export async function getStaticPaths() {
  const pages = await getBlogPages();
  return pages.map((page) => ({
    params: { post: page.slug },
  }));
}

const { post } = Astro.params as { post: string };
const meta = await getPostMetadata(join(".", "_posts", `${post}.md`));
---

<DefaultLayout
  {...meta}
  title={`${meta.title} @ Kopenkin Dmitrii`}
  keywords={meta.keywords.join(", ")}
>
  <div class="grow rounded-xl border border-zinc-300 p-4">
    <div class="prose prose-zinc lg:prose-lg mx-auto">
      <img
        src={`/thumbnails/${meta.thumbnail}`}
        alt={meta.title}
        class="w-full rounded-xl aspect-[16/6]"
      />
      <h1>{meta.title}</h1>
      <div class="flex gap-2 items-center">
        <span class="flex items-center">
          <Clock2 className="mr-1" />
          {meta.readTime} min
        </span>
        <X className="w-2" />
        <Keywords words={meta.keywords} />
      </div>
      <Markdown content={meta.body}>

      </Markdown>
    </div>
  </div>
</DefaultLayout>
