---
import type { PostMetadata } from "../utils/get-post-metadata";
import DefaultLayout from "./default.astro";
import Keywords from "../components/ui/keywords";
import { Clock2, X } from "tabler-icons-react";
import getReadingTime from "../utils/get-reading-time";

const {
  content: { astro, ...content },
} = Astro.props as {
  content: Omit<PostMetadata, "slug" | "readTime"> & {
    astro: { source: string };
  };
};
---

<DefaultLayout
  {...content}
  title={`${content.title} @ Kopenkin Dmitrii`}
  keywords={content.keywords.join(", ")}
>
  <div class="grow rounded-xl border border-zinc-300 p-4">
    <div class="prose lg:prose-lg mx-auto">
      <img
        src={`/thumbnails/${content.thumbnail}`}
        alt={content.title}
        class="w-full rounded-xl aspect-[16/6]"
      />
      <h1>{content.title}</h1>
      <div class="flex gap-2 items-center">
        <span class="flex items-center">
          <Clock2 className="mr-1" />
          {getReadingTime(astro.source)} min
        </span>
        <X className="w-2" />
        <Keywords words={content.keywords} />
      </div>
      <slot />
    </div>
  </div>
</DefaultLayout>
