---
import { Affiliate, Folders } from "tabler-icons-react";
import IconLink from "./icon-link.astro";
import Keywords from "./keywords.astro";

export interface ProjectProps {
  img: string;
  title: string;
  description?: string;
  tech: string[];
  demoLink?: string;
  codeLink?: string;
}

const { img, tech, title, codeLink, demoLink, description } =
  Astro.props as ProjectProps;
---

<div class="flex w-72 flex-col rounded-lg border border-zinc-300 p-4">
  <img
    src={img}
    class="w-full rounded-md aspect-[16/6]"
    alt={title}
    title={title}
  />
  <strong class="my-2 mb-1">{title}</strong>
  {description && <p class="mb-2">{description}</p>}
  <div class="mt-auto flex flex-wrap overflow-x-auto">
    <Keywords words={tech} />
  </div>
  <div class="mt-2 flex gap-2">
    {demoLink && (
      <IconLink
        href={demoLink}
        text="Demo"
        class="translate-all w-full hover:border-zinc-600"
        blank
      >
        <Affiliate className="w-4" />
      </IconLink>
    )}
    {codeLink && (
      <IconLink
        href={codeLink}
        text="Repo"
        class="translate-all w-full hover:border-zinc-600"
        blank
      >
        <Folders className="w-4" />
      </IconLink>
    )}
  </div>
</div>
